<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>TRUEQUE</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__nav__div1">
                <img src="/img/trueque.logo.jpg" alt="img logo">
            </div>
            <div class="header__nav__div2">
                <ul class="header__nav__div2--ul">
                    <li><i class="fa-solid fa-address-card"></i><a href="">registrate</a></li>
                    <li><i class="fa-solid fa-user"></i><a href="">mi cuenta</a></li>
                    <li><i class="fa-solid fa-handshake-simple"></i><a href="">trueques</a></li>
                    <li><i class="fa-sharp fa-solid fa-ticket"></i><a href="">creditos</a></li>
                </ul>
            </div> 
        </nav>
        <div class="header__div3">
            <ul class="header__div3--ul">
                <li><i class="fa-solid fa-shirt"></i><a href="">ropa</a></li>
                <li><i class="fa-solid fa-pizza-slice"></i><a href="">comida</a></li>
                <li><i class="fa-solid fa-hammer"></i><a href="">oficios</a></li>
                <li><i class="fa-solid fa-tv"></i><a href="">enseres</a></li>
                <li><i class="fa-solid fa-car"></i><a href="">vehiculos</a></li>
                <li><i class="fa-solid fa-book"></i><a href="">libros</a></li>
                <li><i class="fa-sharp fa-solid fa-comment-dots"></i><a href="">mas</a></li>
            </ul>
        </div>
        <div class="header__nav--input">
            <input placeholder="Buscar productos y/o servicios" type="text">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </header>
    <main class="main__home">
        <br>
        <a href=""><h2>categoría vehiculos    <i class="fa-solid fa-car"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/autos.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/autos1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div1">
                    <img src="/img/autos.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/autos1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
            </article>
        </section>
        <br>
        <a href=""><h2>categoría enseres    <i class="fa-solid fa-tv"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/enseres1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/enseres2.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div1">
                    <img src="/img/enseres1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/enseres2.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
            </article>           
        </section>
        <br>
        <a href=""><h2>categoría libros    <i class="fa-solid fa-book"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/libros.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/libros1.png" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div1">
                    <img src="/img/libros.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/libros1.png" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
            </article>
        </section>
        <br>
        <a href=""><h2>categoría ropa    <i class="fa-solid fa-shirt"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/ropa.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/ropa1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div1">
                    <img src="/img/ropa.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/ropa1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
            </article>
        </section>
        <br>
        <a href=""><h2>categoría comida    <i class="fa-solid fa-pizza-slice"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/comida.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/comida1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div1">
                    <img src="/img/comida.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/comida1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
            </article>
        </section>
        <br>
        <a href=""><h2>categoría oficios    <i class="fa-solid fa-hammer"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/oficios.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/oficios1.jpg"alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div1">
                    <img src="/img/oficios.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
                <div class="main__home__section__article__div2">
                    <img src="/img/oficios1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>
                <div class="button--trocarya">
                    <button>Trocar ya!</button>
                </div>
            </article>
        </section>
    </main>
</body>
</html>