<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
   <%- include('partials/header') %>
    <main class="main__home">
        <br>
        <a href=""><h2>categoría vehiculos    <i class="fa-solid fa-car"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/autos.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>    
                <div class="main__home__section__article__div2">
                    <img src="/img/autos1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>    
                <div class="main__home__section__article__div1">
                    <img src="/img/autos.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>    
                <div class="main__home__section__article__div2">
                    <img src="/img/autos1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>    
            </article>
        </section>
        <br>
        <a href=""><h2>categoría enseres    <i class="fa-solid fa-tv"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/enseres1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>    
                <div class="main__home__section__article__div2">
                    <img src="/img/enseres2.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div1">
                    <img src="/img/enseres1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/enseres2.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
            </article>           
        </section>
        <br>
        <a href=""><h2>categoría libros    <i class="fa-solid fa-book"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/libros.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/libros1.png" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div1">
                    <img src="/img/libros.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/libros1.png" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
            </article>
        </section>
        <br>
        <a href=""><h2>categoría ropa    <i class="fa-solid fa-shirt"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/ropa.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/ropa1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div1">
                    <img src="/img/ropa.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/ropa1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
            </article>
        </section>
        <br>
        <a href=""><h2>categoría comida    <i class="fa-solid fa-pizza-slice"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/comida.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/comida1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div1">
                    <img src="/img/comida.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/comida1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
            </article>
        </section>
        <br>
        <a href=""><h2>categoría oficios    <i class="fa-solid fa-hammer"></i></h2></a>
        <br>
        <section class="main__home__section">
            <article class="main__home__section__article">
                <div class="main__home__section__article__div1">
                    <img src="/img/oficios.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/oficios1.jpg"alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div1">
                    <img src="/img/oficios.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
                <div class="main__home__section__article__div2">
                    <img src="/img/oficios1.jpg" alt="">
                    <div class="main__home__section__article__div1--descripcion">
                        <h3>nombre del producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Ver detalles      <i class="fa-solid fa-eye"></i></button>
                        <div class="button--trocarya1">
                            <button><a href="">Trocar ya!</a></button>
                        </div>
                    </div>
                </div>        
            </article>
        </section>
    </main>
</body>
</html>