<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;700&family=Raleway:ital,wght@0,700;1,400&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@400;700&family=Ysabeau+SC:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__nav__div1">
                <img src="/img/trueque.logo.jpg" alt="img logo">
            </div>
            <div class="header__nav__div2">
                <ul class="header__nav__div2--ul">
                    <li><i class="fa-solid fa-address-card"></i><a href="">registro</a></li>
                    <li><i class="fa-solid fa-user"></i><a href="">cuenta</a></li>
                    <li><i class="fa-solid fa-handshake-simple"></i><a href="">trueques</a></li>
                    <li><i class="fa-sharp fa-solid fa-ticket"></i><a href="">creditos</a></li>
                </ul>
            </div> 
        </nav>
        <div class="header__nav--input">
            <input placeholder="Buscar productos o servicios" type="text">
            <button><i class="fa-solid fa-magnifying-glass"></i><a href=""></a></button>
            <div class="header__nav__input--truck">
                <i class="fa-sharp fa-solid fa-truck-fast"></i><a href="">enviarme</a>
            </div>   
        </div>
        <div class="header__div3">
            <ul class="header__div3--ul">
                <li><i class="fa-solid fa-shirt"></i><a href="">ropa</a></li>
                <li><i class="fa-solid fa-pizza-slice"></i><a href="">comida</a></li>
                <li><i class="fa-solid fa-hammer"></i><a href="">oficios</a></li>
                <li><i class="fa-solid fa-tv"></i><a href="">enseres</a></li>
                <li><i class="fa-solid fa-car"></i><a href="">autos</a></li>
                <li><i class="fa-solid fa-book"></i><a href="">libros</a></li>
                <li><i class="fa-sharp fa-solid fa-comment-dots"></i><a href="">mas</a></li>
            </ul>
        </div>
    </header>
    
</body>
</html>