<header class="header">
    <nav class="header__nav">
        <div class="header__nav__div1">
            <img src="/img/trueque.logo.jpg" alt="img logo">
        </div>
        <div class="header__nav__div2">
            <ul class="header__nav__div2--ul">
                <li><i class="fa-solid fa-address-card"></i><a href="/users/register">registro</a></li>
                <li><i class="fa-solid fa-user"></i><a href="/users/login">cuenta</a></li>
                <li><i class="fa-sharp fa-solid fa-ticket"></i><a href="/users/profile">perfil</a></li>
                <li><i class="fa-solid fa-handshake-simple"></i><a href="">trueques</a></li>
            </ul>
        </div> 
    </nav>
    <div class="header__div3">
        <ul class="header__div3--ul">
            <li><i class="fa-solid fa-shirt"></i><a href="">ropa</a></li>
            <li><i class="fa-solid fa-pizza-slice"></i><a href="">comida</a></li>
            <li><i class="fa-solid fa-hammer"></i><a href="">oficios</a></li>
            <li><i class="fa-solid fa-tv"></i><a href="">enseres</a></li>
            <li><i class="fa-solid fa-car"></i><a href="">vehiculos</a></li>
            <li><i class="fa-solid fa-book"></i><a href="">libros</a></li>
            <li><i class="fa-sharp fa-solid fa-comment-dots"></i><a href="">mas</a></li>
        </ul>
    </div>
    <div class="header__nav--input">
        <input placeholder="Buscar productos y/o servicios" type="text">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</header>